pandas
mysql-connector-python
openpyxl
bcrypt

# # se debe ejecutar esto en el servidor o donde se clone para que funcione.
# pip install -r scripts/requirements.txt
# # para asegurarnos que tenga permisos de ejecucion:
# chmod +x /ruta/al/proyecto/scripts/import_courses.py

# python3 --version

# # Crear el entorno virtual
# python3 -m venv .venv - windows

# sudo apt install python3.12-venv - linux
# python3 -m venv .venv

# # activa el entorno virtual
# .venv\Scripts\activate - windows
# source .venv/bin/activate - linux

# npm install
# npm run dev
